<!DOCTYPE html>
<html>
  <head>
  <title>WeatherWear</title>
    <meta charset="utf-8">

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400;300' rel='stylesheet' type='text/css'>
    <link href='../css/style.css' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,400|PT+Sans:400,700|Raleway:400,700,800,900' rel='stylesheet' type='text/css'>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name = "viewport" content = "width = 320, initial-scale = 1.0, user-scalable = yes">
  </head>
  <body>
    <FORM><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>

    <!-- Main body -->

      <div class="main-content">
        <h1>Its freezing outside bring a jacket!</h1>               
          <p id="weather">
            {{dusk_temp1}}&deg; {{letter}} - {{dusk_temp2}}&deg; {{letter}}<br>
          </p>
          <p id="feels-like">
            Feels like: {{dusk_temp3}}&deg; {{letter}}
          </p>
          <p id="recommend">
            We recommend:<br>
            <img src="../images/dress03.png">
            <img src="../images/dress06.png">
          </p>

      </div>
    </div>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../js/app.js"></script>

  </body>
</html>