<!DOCTYPE html>
<html>
  <head>
    <title>WeatherWear</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400;300' rel='stylesheet' type='text/css'>
    <link href='css/style.css' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,400|PT+Sans:400,700|Raleway:400,700,800,900' rel='stylesheet' type='text/css'>
    {{> tracking_code_script}}
  </head>

  <body>
    <div id="site">


      <!-- Settings -->
      <div id="page1">
        <h1>Settings</h1>

        <div class="main-content">
          <form action="/change_setting" method="post">
            <div id="accordion">
              <h3>Temperature:</h3>
                <div id="temp">                     
                  <input type="radio" name="temp" value="fahrenheit"> Fahrenheit<br>
                  <input type="radio" name="temp" value="celsius"> Celsius         
                </div>
              <h3>Notifications?</h3>
                <div id="notif">                
                  <input class="yes" type="radio" name="notif" value="yes"> Yes<br>
                  <input class="no" type="radio" name="notif" value="no"> No   <br>              
                </div>      
            </div>
          <button type="submit" class ="button" data-text-swap="Saved!">Save</button>
          </form>
        </div>

        <div class="next"><a href="#"><img alt="Home" src='../images/home_icon.png' width="50" height="50"></a></div>
      </div>


      <!-- Home Page -->
      <div id="page2">
        <div class="prev"><a href="#"><img alt="Settings" src='../images/settings_icon.png' width="50" height="50"></a></div>

        <!--<div class="notification" style="text-align: right"> 
                  
                  <img id="notification" src="http://www.netanimations.net/Animated-red-swinging-exclamation-point-picture.gif"> 
                   
              </div> -->

        <h1>Weatherwear</h1>
        <div class="main-content">
          <p id="demo"></p>
          <p id="weather">{{temp}}&deg; {{letter}}<br></p>
          <p id="feels-like">Feels like {{exact}}&deg;</p>
          <p id="recommend">
            We recommend:<br>
            <img src="images/tshirt.png">
            <img src="images/hoodie.png">
          </p>

            <div id="time">
              <h1>Personalize</h1>
                <h3>I will be out</h3>
                  <p>From:</p>
                    <select id="linha">
                      <option name="time1" value="dusk">12am</option>
                      <option name="time1" value="dusk">1am</option>
                      <option name="time1" value="dusk">2am</option>
                      <option name="time1" value="dusk">3am</option>
                      <option name="time1" value="dusk">4am</option>
                      <option name="time1" value="dusk">5am</option>
                      <option  name="time1" value="dusk">6am</option>
                      <option name="time1" value="dusk">7am</option>
                      <option name="time1" value="morning">8am</option>
                      <option name="time1" value="morning">9am</option>
                      <option name="time1" value="morning">10am</option>
                      <option name="time1" value="morning">11am</option>
                      <option name="time1" value="morning">12pm</option>
                      <option name="time1" value="afternoon">1pm</option>
                      <option name="time1" value="afternoon">2pm</option>
                      <option name="time1" value="afternoon">3pm</option>
                      <option name="time1" value="afternoon">4pm</option>
                      <option name="time1" value="afternoon">5pm</option>
                      <option name="time1" value="evening">6pm</option>
                      <option name="time1" value="evening">7pm</option>
                      <option name="time1" value="evening">8pm</option>
                      <option name="time1" value="evening">9pm</option>
                      <option name="time1" value="evening">10pm</option>
                      <option name="time1" value="evening">11pm</option>
                    </select>
                  <p>To:</p>
                    <select>
                      <option name="time2" value="1am">1am</option>
                      <option name="time2" value="2am">2am</option>
                      <option name="time2" value="3am">3am</option>
                      <option name="time2" value="4am">4am</option>
                      <option name="time2" value="5am">5am</option>
                      <option name="time2" value="6am">6am</option>
                      <option name="time2" value="7am">7am</option>
                      <option name="time2" value="8am">8am</option>
                      <option name="time2" value="9am">9am</option>
                      <option name="time2" value="10am">10am</option>
                      <option name="time2" value="11am">11am</option>
                      <option name="time2" value="12pm">12pm</option>
                      <option name="time2" value="1pm">1pm</option>
                      <option name="time2" value="2pm">2pm</option>
                      <option name="time2" value="3pm">3pm</option>
                      <option name="time2" value="4pm">4pm</option>
                      <option name="time2" value="5pm">5pm</option>
                      <option name="time2" value="6pm">6pm</option>
                      <option name="time2" value="7pm">7pm</option>
                      <option name="time2" value="8pm">8pm</option>
                      <option name="time2" value="9pm">9pm</option>
                      <option name="time2" value="10pm">10pm</option>
                      <option name="time2" value="11pm">11pm</option>
                      <option name="time2" value="12am">12am</option>
                    </select>
                  <br><br>
                  <button class ="button" id="make_url">Submit</button>
            </div>
        </div>

        <div class="next"><a href="#"><img alt="Forecast" src='../images/forecast_icon.png' width="50" height="50"></a></div>
      </div>


      <!-- Forecast -->
      <div id="page3">
        <div class="prev"><a href="#" class="forecast"><img alt="Home" src='../images/home_icon.png' width="50" height="50"></a></div>

        <h1>Forecast</h1>

        <div class="main-content">
          <h3>7-day Forecast</h3>
          <table id="forecast">
            <tr>
              <th>Thursday</th>
              <th>Friday</th>
              <th>Saturday</th>
              <th>Sunday</th>
              <th>Monday</th>
              <th>Tuesday</th>
              <th>Wednesday</th>
            </tr>
            <tr>
              <div data-day="Thursday"><td><a href="/hourly/Thursday"><img src="images/sun01.png"></a></td></div>
              <td><div data-day="Friday"> <a href="/hourly/Friday"><img src="images/sun02.png"></a></div></td>
              <td><div data-day="Saturday"><a href="/hourly/Saturday"><img src="images/sun03.png"></a></div></td>
              <td><div data-day="Sunday"><a href="/hourly/Sunday"><img src="images/sun04.png"></a></div></td>
              <td><div data-day="Monday"><a href="/hourly/Monday"><img src="images/sun01.png"></a></div></td>
              <td><div data-day="Tuesday"><a href="/hourly/Tuesday"><img src="images/sun05.png"></a></div></td>
              <td><div data-day="Wednesday"><a href="/hourly/Wednesday"><img src="images/sun06.png"></a></div></td>
            </tr>
            <tr>
              <td>{{temp1}}&deg;{{letter}}</td>
              <td>{{temp2}}&deg;{{letter}}</td>
              <td>{{temp3}}&deg;{{letter}}</td>
              <td>{{temp4}}&deg;{{letter}}</td>
              <td>{{temp5}}&deg;{{letter}}</td>
              <td>{{temp6}}&deg;{{letter}}</td>
              <td>{{temp7}}&deg;{{letter}}</td>
            </tr>
          </table>
          <h3>What to wear..</h3>
          <table id="forecast">
            <tr>
              <th>Friday</th>
              <th>Saturday</th>
              <th>Sunday</th>
              <th>Monday</th>
              <th>Tuesday</th>
              <th>Wednesday</th>
              <th>Thursday</th>
            </tr>
            <tr>
              <td><img src="images/dress01.png"></td>
              <td><img src="images/dress02.png"></td>
              <td><img src="images/dress03.png"></td>
              <td><img src="images/dress04.png"></td>
              <td><img src="images/dress07.png"></td>
              <td><img src="images/dress05.png"></td>
              <td><img src="images/dress06.png"></td>
            </tr>
          </table>
        </div>
      </div>
    
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://malsup.github.com/jquery.cycle.all.js"></script> 
    <script src="js/app.js"></script>
    <script>
      var d = new Date();
      document.getElementById("demo").innerHTML = d.toDateString();
    </script>


  </body>
</html>